<%- include("partials/header") %> 

<main class="container py-5">
    <h2>HomePage</h2>
    <p>Posts Here</p>
    <div class="row">
    <div class="card col-lg-4 col-md-6 mx-2 my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date posted on</h6>
          <p class="card-text">Some higlights of the content.</p>
          <a href="#" class="card-link">Card link to read full text.</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 mx-2 my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date posted on</h6>
          <p class="card-text">Some higlights of the content.</p>
          <a href="#" class="card-link">Card link to read full text.</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 mx-2 my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date posted on</h6>
          <p class="card-text">Some higlights of the content.</p>
          <a href="#" class="card-link">Card link to read full text.</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 mx-2 my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Post Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date posted on</h6>
          <p class="card-text">Some higlights of the content.</p>
          <a href="#" class="card-link">Card link to read full text.</a>
        </div>
    </div>
    </div>

</main>

<%- include("partials/footer") %> 
