
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@500&display=swap');


.header-title{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
}

body{
    font-family: 'Open Sans', sans-serif;
}


#profile-pic{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

#codefreak-pic{
    height: 2rem;
    width: 2rem;
}

.form-signin {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  
.form-signin .checkbox {
    font-weight: 400;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icon{
    color:#686d76;
    text-decoration: none;
}